*.pyc
__pycache__/
db.sqlite3
.env
*.env
venv/
.envrc
*.log
staticfiles/
media/
.idea/
.vscode/
*.DS_Store
*.egg-info/
.Python
*.sqlite3
pip-log.txt
.pytest_cache/
*.pot
*.py[cod]
__pycache__/
.env/
*.pem
*.p12
*.crt
*.key
